/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

\.idea/

resources/python/config\.yaml

resources/python/keys/private_footloose_dev\.pem

resources/python/keys/public_footloose_dev\.pem

resources/python/private_footloose_dev\.pem

resources/python/public_footloose_dev\.pem
